Repository appwrite/appwrite, pull requests merged in 2021-12, with the labels that each got.

#2398 Storage Buckets UI + Some Usage Stats Fix for Storage Buckets
  app/config/specs/0.13.x.client.json
  app/config/specs/0.13.x.console.json
  app/config/specs/0.13.x.server.json
  app/controllers/api/storage.php
  app/controllers/web/console.php
  app/init.php
  app/tasks/sdks.php
  app/tasks/usage.php
  app/views/console/storage/bucket.phtml
  app/views/console/storage/index.phtml
  composer.lock
  public/scripts/dependencies/appwrite.js
  public/scripts/filters.js
  public/scripts/routes.js
  public/scripts/views/forms/chart.js
  src/Appwrite/Migration/Migration.php
  src/Appwrite/Utopia/Response/Model/UsageBuckets.php
  src/Appwrite/Utopia/Response/Model/UsageStorage.php
  tests/e2e/Services/Storage/StorageConsoleClientTest.php
Labels: storage

#2191 Added Shona Translations
  app/config/locale/codes.php
  app/config/locale/translations/sn.json
  app/init.php
Labels: hacktoberfest-accepted

#2312 Added Yammer OAuth2 Provider
  app/config/providers.php
  public/images/users/yammer.png
  src/Appwrite/Auth/OAuth2/Yammer.php
Labels: hacktoberfest-accepted

#2401 Update abuse-key for password recovery to add IP
  app/controllers/api/account.php
  app/controllers/shared/api.php
Labels: auth/users
