Repository appwrite/appwrite, pull requests merged in 2022-11, with the labels that each got.

#4590 fixed grammatical and spelling errors
  app/config/locale/translations/hi.json
Labels: hacktoberfest-accepted

#4739 Fix session expiration
  CHANGES.md
  app/init.php
  app/tasks/maintenance.php
  app/workers/deletes.php
Labels: bug, authentication

#4737 Fix: Missing execution status
  CHANGES.md
  app/controllers/api/functions.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
Labels: bug, functions

#4757 bug fix: failure status shoudn't be nulled
  app/controllers/api/account.php
Labels: bug, authentication
