Repository appwrite/appwrite, pull requests merged in 2022-02, with the labels that each got.

#2750 Fix non-json responding OAuth providers
  src/Appwrite/Auth/OAuth2/Bitly.php
  src/Appwrite/Auth/OAuth2/Github.php
Labels: auth/users

#2706 Feat add deletes worker
  app/config/collections.php
  app/controllers/api/functions.php
  app/executor.php
  app/init.php
  app/workers/builds.php
  app/workers/deletes.php
  docker-compose.yml
  tests/e2e/Services/Functions/FunctionsCustomClientTest.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
  tests/unit/Docker/ComposeTest.php
Labels: functions

#2793 Improved deployment and build path structure
  app/controllers/api/functions.php
  tests/e2e/Services/Functions/FunctionsCustomClientTest.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
  tests/e2e/Services/Realtime/RealtimeCustomClientTest.php
  tests/e2e/Services/Webhooks/WebhooksCustomServerTest.php
Labels: functions

#2792 Renamed 'deploy' to 'activate'
  app/config/collections.php
  app/controllers/api/functions.php
  app/views/console/functions/function.phtml
  app/workers/builds.php
  src/Appwrite/Utopia/Response/Model/Deployment.php
Labels: functions

#2786 storage realtime event refactor
  app/controllers/api/storage.php
  app/controllers/shared/api.php
  src/Appwrite/Messaging/Adapter/Realtime.php
  tests/e2e/Services/Realtime/RealtimeCustomClientTest.php
Labels: storage, realtime

#2739 Decouple database dependencies from the executor
  .env
  app/config/collections.php
  app/config/specs/open-api3-latest-client.json
  app/config/specs/open-api3-latest-console.json
  app/config/specs/open-api3-latest-server.json
  app/config/specs/swagger2-latest-client.json
  app/config/specs/swagger2-latest-console.json
  app/config/specs/swagger2-latest-server.json
  app/controllers/api/functions.php
  app/executor.php
  app/views/console/functions/function.phtml
  app/workers/builds.php
  app/workers/deletes.php
  app/workers/functions.php
  composer.json
  composer.lock
  docker-compose.yml
  public/dist/scripts/app-all.js
  public/dist/scripts/app-dep.js
  public/scripts/dependencies/appwrite.js
  src/Appwrite/Utopia/Response/Model/Deployment.php
  src/Executor/Executor.php
  tests/e2e/Services/Functions/FunctionsCustomClientTest.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
  tests/e2e/Services/Realtime/RealtimeCustomClientTest.php
  tests/e2e/Services/Webhooks/WebhooksCustomServerTest.php
Labels: functions

#2769 Feat: Migrated event channel
  src/Appwrite/Messaging/Adapter/Realtime.php
  tests/e2e/Services/Realtime/RealtimeCustomClientTest.php
Labels: database, realtime

#2776 -- Create preview-box.less styles
  app/views/console/storage/index.phtml
  public/styles/comps/preview-box.less
  public/styles/default.less
Labels: storage

#2807 feat: retry execution logic
  .gitignore
  app/controllers/api/functions.php
  app/controllers/api/projects.php
  app/executor.php
  app/views/console/functions/function.phtml
  app/workers/builds.php
  composer.json
  composer.lock
  docker-compose.yml
  src/Executor/Executor.php
  tests/e2e/Services/Functions/FunctionsBase.php
  tests/e2e/Services/Functions/FunctionsCustomClientTest.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
  tests/e2e/Services/Realtime/RealtimeCustomClientTest.php
  tests/e2e/Services/Webhooks/WebhooksCustomServerTest.php
  tests/resources/functions/node/index.js
  tests/resources/functions/node/package-lock.json
  tests/resources/functions/package-php-fn.sh
  tests/resources/functions/package-php.sh
  tests/resources/functions/package-timeout.sh
  tests/resources/functions/php-fn.tar.gz
  tests/resources/functions/php-fn/index.php
  tests/resources/functions/php.tar.gz
  tests/resources/functions/php/index.php
  tests/resources/functions/tests/resources/functions/packages/php-fn/code.tar.gz
  tests/resources/functions/timeout.tar.gz
Labels: functions

#2774 Storage UI Updates
  app/config/providers.php
  app/config/storage/logos.php
  app/config/storage/logos/excel.png
  app/config/storage/logos/none.png
  app/config/storage/logos/pdf.png
  app/config/storage/logos/ppt.png
  app/config/storage/logos/video.png
  app/config/storage/logos/word.png
  app/views/console/comps/footer.phtml
  app/views/console/comps/header.phtml
  app/views/console/comps/upload-modal.phtml
  app/views/console/index.phtml
  app/views/console/storage/bucket.phtml
  app/views/console/storage/index.phtml
  docker-compose.yml
  gulpfile.js
  public/dist/scripts/app-all.js
  public/dist/scripts/app-dep.js
  public/dist/scripts/app.js
  public/dist/styles/default-ltr.css
  public/dist/styles/default-rtl.css
  public/fonts/icon.eot
  public/fonts/icon.svg
  public/fonts/icon.symbol.svg
  public/fonts/icon.ttf
  public/fonts/icon.woff
  public/fonts/icon.woff2
  public/images/default_preview.svg
  public/scripts/dependencies/appwrite.js
  public/scripts/upload-modal.js
  public/scripts/views/service.js
  public/styles/comps/cover.less
  public/styles/comps/footer.less
  public/styles/comps/header.less
  public/styles/comps/pill.less
  public/styles/comps/preview-box.less
  public/styles/comps/upload-box.less
  public/styles/default.less
  public/styles/fontello/config.json
  public/styles/forms.less
  public/styles/icons.less
  public/styles/scopes/console.less
  public/styles/tabels.less
  public/styles/themes.less
  public/styles/typography.less
  public/styles/utilities.less
Labels: storage
