Repository appwrite/appwrite, pull requests merged in 2024-03, with the labels that each got.

#7780 Fix git deployments
  app/controllers/api/vcs.php
  src/Appwrite/Event/Build.php
  src/Appwrite/Platform/Workers/Builds.php
Labels: product / functions

#7414 remove cloud related scripts
  Dockerfile
  README.md
  app/cli.php
  app/controllers/api/health.php
  app/worker.php
  bin/calc-tier-stats
  bin/calc-users-stats
  bin/clear-card-cache
  bin/create-inf-metric
  bin/delete-orphaned-projects
  bin/get-migration-stats
  bin/hamster
  bin/patch-delete-project-collections
  bin/patch-delete-schedule-updated-at-attribute
  bin/patch-recreate-repositories-documents
  bin/volume-sync
  bin/worker-hamster
  docker-compose.yml
  src/Appwrite/Event/Event.php
  src/Appwrite/Event/Hamster.php
  src/Appwrite/Platform/Services/Tasks.php
  src/Appwrite/Platform/Services/Workers.php
  src/Appwrite/Platform/Tasks/CalcTierStats.php
  src/Appwrite/Platform/Tasks/CreateInfMetric.php
  src/Appwrite/Platform/Tasks/DeleteOrphanedProjects.php
  src/Appwrite/Platform/Tasks/GetMigrationStats.php
  src/Appwrite/Platform/Tasks/Hamster.php
  src/Appwrite/Platform/Tasks/PatchRecreateRepositoriesDocuments.php
  src/Appwrite/Platform/Tasks/SDKs.php
  src/Appwrite/Platform/Tasks/VolumeSync.php
  src/Appwrite/Platform/Workers/Hamster.php
Labels: product / cloud, version / latest

#7764 Removed redundant commas
  app/config/locale/translations/af.json
  app/config/locale/translations/ar.json
  app/config/locale/translations/as.json
  app/config/locale/translations/az.json
  app/config/locale/translations/be.json
  app/config/locale/translations/ca.json
  app/config/locale/translations/da.json
  app/config/locale/translations/de.json
  app/config/locale/translations/el.json
  app/config/locale/translations/eo.json
  app/config/locale/translations/fr.json
  app/config/locale/translations/ga.json
  app/config/locale/translations/gu.json
  app/config/locale/translations/he.json
  app/config/locale/translations/hi.json
  app/config/locale/translations/hr.json
  app/config/locale/translations/hu.json
  app/config/locale/translations/id.json
  app/config/locale/translations/it.json
  app/config/locale/translations/jv.json
  app/config/locale/translations/kn.json
  app/config/locale/translations/ko.json
  app/config/locale/translations/la.json
  app/config/locale/translations/lb.json
  app/config/locale/translations/lt.json
  app/config/locale/translations/lv.json
  app/config/locale/translations/ml.json
  app/config/locale/translations/mr.json
  app/config/locale/translations/ms.json
  app/config/locale/translations/nb.json
  app/config/locale/translations/ne.json
  app/config/locale/translations/nl.json
  app/config/locale/translations/nn.json
  app/config/locale/translations/or.json
  app/config/locale/translations/pl.json
  app/config/locale/translations/pt-br.json
  app/config/locale/translations/pt-pt.json
  app/config/locale/translations/ro.json
  app/config/locale/translations/ru.json
  app/config/locale/translations/sa.json
  app/config/locale/translations/si.json
  app/config/locale/translations/sk.json
  app/config/locale/translations/sn.json
  app/config/locale/translations/sv.json
  app/config/locale/translations/ta.json
  app/config/locale/translations/te.json
  app/config/locale/translations/th.json
  app/config/locale/translations/tl.json
  app/config/locale/translations/tr.json
  app/config/locale/translations/uk.json
  app/config/locale/translations/ur.json
  app/config/locale/translations/vi.json
  app/config/locale/translations/zh-cn.json
  app/config/locale/translations/zh-tw.json
Labels: product / auth, community
