Repository appwrite/appwrite, pull requests merged in 2024-02, with the labels that each got.

#7611 Feat email attachments
  app/controllers/api/functions.php
  app/controllers/api/health.php
  app/controllers/api/messaging.php
  app/controllers/api/storage.php
  app/init.php
  app/worker.php
  composer.json
  composer.lock
  src/Appwrite/Platform/Workers/Builds.php
  src/Appwrite/Platform/Workers/Deletes.php
  src/Appwrite/Platform/Workers/Messaging.php
  src/Appwrite/Specification/Format/OpenAPI3.php
  src/Appwrite/Specification/Format/Swagger2.php
  src/Appwrite/Utopia/Database/Validator/CompoundUID.php
  tests/unit/Utopia/Database/Validator/CompoundUIDTest.php
Labels: product / messaging, version / 1.5

#6826 Update GETTING_STARTED.md
  docs/sdks/android/GETTING_STARTED.md
  docs/sdks/apple/GETTING_STARTED.md
  docs/sdks/dart/EXAMPLES.md
  docs/sdks/dart/GETTING_STARTED.md
  docs/sdks/deno/GETTING_STARTED.md
  docs/sdks/dotnet/GETTING_STARTED.md
  docs/sdks/flutter-dev/EXAMPLES.md
  docs/sdks/flutter/EXAMPLES.md
  docs/sdks/flutter/GETTING_STARTED.md
  docs/sdks/kotlin/GETTING_STARTED.md
  docs/sdks/nodejs/GETTING_STARTED.md
  docs/sdks/php/GETTING_STARTED.md
  docs/sdks/python/GETTING_STARTED.md
  docs/sdks/ruby/GETTING_STARTED.md
  docs/sdks/swift/GETTING_STARTED.md
  docs/sdks/web/GETTING_STARTED.md
Labels: hacktoberfest-accepted

#7594 Allow push images
  app/config/errors.php
  app/controllers/api/messaging.php
  src/Appwrite/Extend/Exception.php
  src/Appwrite/Platform/Workers/Messaging.php
Labels: product / messaging, version / 1.5

#7591 Add storage health check
  app/controllers/api/health.php
  docs/references/health/get-storage.md
  tests/e2e/Services/Health/HealthCustomServerTest.php
Labels: product / storage, version / latest

#7651 Bug 7597 - Adding default value
  app/controllers/api/account.php
Labels: product / auth, community
