Repository appwrite/appwrite, pull requests merged in 2024-08, with the labels that each got.

#8459 refactor: no session alerts for otp and magic-url logins
  app/controllers/api/account.php
  tests/e2e/Services/Account/AccountCustomClientTest.php
Labels: product / auth

#8502 Bump executor version from 0.5.5 to 0.5.7
  app/views/install/compose.phtml
  docker-compose.yml
Labels: product / functions

#8412 feat: schedule execution improvements
  src/Appwrite/Platform/Tasks/ScheduleExecutions.php
  tests/e2e/Services/Functions/FunctionsCustomClientTest.php
Labels: product / functions

#8217 Feat Sync team deletion
  app/controllers/api/teams.php
  app/init.php
  src/Appwrite/Platform/Workers/Deletes.php
  tests/e2e/Services/Teams/TeamsCustomServerTest.php
Labels: product / auth

#6876 feature-5232-Trivy-Security-Scans
  .github/workflows/nightly.yml
Labels: hacktoberfest-accepted
