Repository appwrite/appwrite, pull requests merged in 2024-04, with the labels that each got.

#7913 Add missing chunkId param to create file abuse key
  app/controllers/api/storage.php
Labels: product / storage

#7906 Fix delete message event not firing
  app/controllers/api/messaging.php
Labels: product / messaging

#7915 Fix worker crash when using custom SMTP provider
  src/Appwrite/Platform/Workers/Messaging.php
Labels: product / messaging

#7885 Update email attachments param
  app/config/specs/open-api3-1.5.x-console.json
  app/config/specs/open-api3-1.5.x-server.json
  app/config/specs/open-api3-latest-console.json
  app/config/specs/open-api3-latest-server.json
  app/config/specs/swagger2-1.5.x-console.json
  app/config/specs/swagger2-1.5.x-server.json
  app/config/specs/swagger2-latest-console.json
  app/config/specs/swagger2-latest-server.json
  app/controllers/api/messaging.php
Labels: product / messaging

#7981 fix(auth): fix challenge type check
  app/controllers/api/account.php
Labels: product / auth

#7997 Add missing 'apis' attribute to projects collection
  src/Appwrite/Migration/Version/V20.php
Labels: product / self-hosted, upgrade

#7962 FIX-7880-added-HongKong-to-countries.php
  app/config/locale/countries.php
  tests/e2e/Services/GraphQL/BatchTest.php
  tests/e2e/Services/GraphQL/ContentTypeTest.php
  tests/e2e/Services/Locale/LocaleBase.php
Labels: community

#6506 feature-5232-Security-Scans-OSV-Scanner
  .github/workflows/osv-scanner.yml
Labels: hacktoberfest-accepted

#7341 databases.php collection not found
  app/controllers/general.php
  tests/e2e/Services/Databases/DatabasesBase.php
Labels: product / databases

#7610 fix: templates copy hidden files
  src/Appwrite/Platform/Workers/Builds.php
Labels: product / functions

#7993 chore: fix some typos in comments
  app/config/errors.php
  app/init.php
  src/Appwrite/Platform/Tasks/CalcTierStats.php
  src/Appwrite/Platform/Tasks/CreateInfMetric.php
  src/Appwrite/Platform/Tasks/PatchRecreateRepositoriesDocuments.php
Labels: community
