Repository appwrite/appwrite, pull requests merged in 2024-07, with the labels that each got.

#7565 Mock OTP and phone numbers
  app/controllers/api/account.php
  app/controllers/api/projects.php
  app/init.php
  src/Appwrite/Auth/Validator/MockNumber.php
  src/Appwrite/Utopia/Response.php
  src/Appwrite/Utopia/Response/Model/MockNumber.php
  src/Appwrite/Utopia/Response/Model/Project.php
  tests/e2e/Services/Projects/ProjectsConsoleClientTest.php
Labels: product / auth

#7501 Adding Darija (Moroccan Arabic) translation file
  app/config/locale/translations/ar-ma.json
Labels: community

#8444 tests: Refactor deployment check in function tests
  tests/e2e/Services/Functions/FunctionsBase.php
  tests/e2e/Services/Functions/FunctionsCustomClientTest.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
Labels: product / functions
