Repository appwrite/appwrite, pull requests merged in 2024-05, with the labels that each got.

#8082 Fix MFA email verification code font
  app/config/locale/templates/email-mfa-challenge.tpl
Labels: product / auth

#8081 Don't kick user and require verification after enabling MFA
  app/controllers/api/account.php
  app/init.php
Labels: product / auth

#7206 Shared tables support
  .env
  .gitignore
  app/cli.php
  app/config/collections.php
  app/controllers/api/avatars.php
  app/controllers/api/projects.php
  app/controllers/api/storage.php
  app/controllers/general.php
  app/init.php
  app/realtime.php
  app/worker.php
  composer.json
  composer.lock
  docker-compose.yml
  src/Appwrite/Event/Database.php
  tests/e2e/General/HTTPTest.php
  tests/e2e/Services/Databases/DatabasesCustomServerTest.php
  tests/e2e/Services/Projects/ProjectsConsoleClientTest.php
  tests/e2e/Services/Projects/ProjectsCustomClientTest.php
Labels: product / databases

#8105 Fix Deprecated Warning in Doctor.php
  src/Appwrite/Platform/Tasks/Doctor.php
Labels: community

#8151 Update Chinese language native names in languages.php
  app/config/locale/languages.php
Labels: community

#7592 usage sms per country code count
  app/init.php
  src/Appwrite/Event/Usage.php
  src/Appwrite/Platform/Workers/Messaging.php
Labels: product / messaging

#7512 Feat: API Tokens
  .env
  app/config/collections.php
  app/config/errors.php
  app/controllers/api/functions.php
  app/controllers/api/projects.php
  app/controllers/mock.php
  app/controllers/shared/api.php
  app/init.php
  composer.lock
  docker-compose.yml
  src/Appwrite/Extend/Exception.php
  src/Appwrite/Platform/Workers/Functions.php
  src/Appwrite/Utopia/Response/Model/Func.php
  tests/e2e/Services/Databases/DatabasesCustomServerTest.php
  tests/e2e/Services/Functions/FunctionsCustomServerTest.php
  tests/e2e/Services/Projects/ProjectsConsoleClientTest.php
  tests/resources/functions/php-scopes/composer.json
  tests/resources/functions/php-scopes/index.php
Labels: product / functions

#8089 feat: improve header demo values
  app/config/specs/open-api3-latest-client.json
  app/config/specs/open-api3-latest-console.json
  app/config/specs/open-api3-latest-server.json
  app/config/specs/swagger2-latest-client.json
  app/config/specs/swagger2-latest-console.json
  app/config/specs/swagger2-latest-server.json
  src/Appwrite/Specification/Format/OpenAPI3.php
  src/Appwrite/Specification/Format/Swagger2.php
Labels: product / docs
